
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 83.4rem;
}.tablet-dashboard-fkZ {
  height: 119.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .background-Nus {
    width: 74.4rem;
    height: 119.4rem;
    top: 0;
    align-items: center;
    background-color: #2f2828;
    box-sizing: border-box;
    padding-right: 5.2rem;
    position: absolute;
    left: 9.2rem;
    display: flex;

    .rectangle-27-H1F {
      margin-right: 5.1rem;
      width: 0.1rem;
      height: 119.4rem;
      background-color: #343434;
      flex-shrink: 0;
    }
    .auto-group-eshj-Ctu {
      width: 64rem;
      height: calc(100% - 13.8rem);
      flex-shrink: 0;
      margin: 9rem 0rem 4.8rem 0rem;

      .dashboard-KTj {
        line-height: 1.75;
        color: #0d28db;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
        font-weight: 500;
      }
      .auto-group-ejkw-SHT {
        column-gap: 1.4rem;
        align-items: flex-end;
        margin-bottom: 2.2rem;
        width: 100%;
        display: flex;

        .available-position-Az9 {
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          row-gap: 1.6rem;
          display: flex;
          flex-direction: column;
          padding: 1.4rem 2rem;
          width: 20.4rem;
          background-color: #ffddcc;
          border-radius: 1rem;
          flex-shrink: 0;

          .available-position-t9T {
            line-height: 1.5;
            color: #161e54;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item-24-1Uy {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 0.875;
            color: #161e54;
          }
          .urgently-needed-wdX {
            font-weight: 400;
            line-height: 1.7142857143;
            color: #ff5151;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
        }
        .job-open-3gZ {
          box-sizing: border-box;
          position: relative;
          background-color: #e1e9f4;
          flex-shrink: 0;
          border-radius: 1rem;
          margin-bottom: 0.2rem;
          padding: 1.4rem 2rem;
          width: 20.4rem;
          overflow: hidden;
          row-gap: 1.6rem;
          display: flex;
          flex-direction: column;

          .available-position-kL5 {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #161e54;
          }
          .item-24-Hqo {
            flex-shrink: 0;
            display: flex;
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 0.875;
            color: #161e54;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .urgently-needed-DzM {
            font-weight: 400;
            line-height: 1.7142857143;
            color: #3785f1;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
        }
        .new-employees-ZHX {
          box-sizing: border-box;
          padding: 1.4rem 2rem;
          overflow: hidden;
          position: relative;
          background-color: #f1d2ea;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 20.4rem;
          row-gap: 1.6rem;
          display: flex;
          flex-direction: column;

          .available-position-HjK {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #161e54;
          }
          .item-24-2S1 {
            color: #161e54;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 0.875;
          }
          .urgently-needed-mPb {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
            color: #ee61cf;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-2u4q-tUD {
        margin-bottom: 2.4rem;
        width: 100%;
        height: 18.6rem;
        display: flex;
        align-items: center;

        .total-request-RU9 {
          border: solid 0.1rem #fff7f7;
          background-color: #ffffff;
          padding: 2rem;
          position: relative;
          display: flex;
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 1.6rem;
          box-sizing: border-box;
          height: 100%;
          overflow: hidden;

          .frame-50-m2D {
            flex-shrink: 0;
            margin-right: 2.4rem;
            width: 13.3rem;
            height: 100%;

            .frame-49-WEh {
              margin-bottom: 3.2rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .total-employees-rZT {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.2rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #161e54;
              }
              .item-216-ni1 {
                flex-shrink: 0;
                display: flex;
                font-size: 4.2rem;
                font-weight: 500;
                line-height: 0.6666666667;
                color: #161e54;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-48-j7T {
              display: flex;
              flex-direction: column;

              .men-5h7 {
                line-height: 1.5;
                color: #686868;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 1.2rem;
                font-weight: 400;
              }
              .women-QUV {
                font-weight: 400;
                line-height: 1.5;
                color: #686868;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
              }
            }
          }
          .frame-52-Lsw {
            width: 11.5rem;
            height: calc(100% - 1.8rem);
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.65rem 0rem 1.15rem 0rem;

            .group-4-fQR {
              height: 8.4rem;
              position: relative;
              flex-shrink: 0;
              margin-bottom: 2rem;
              width: 100%;

              .vector-2-p2R {
                left: 0;
                top: 1.5152rem;
                object-fit: contain;
                vertical-align: top;
                width: 11.45rem;
                height: 4.1847rem;
                position: absolute;
              }
              .vector-3-LWZ {
                height: 6.9rem;
                position: absolute;
                left: 0.05rem;
                top: 1.5rem;
                object-fit: contain;
                vertical-align: top;
                width: 11.45rem;
              }
              .item-2-U6y {
                top: 0;
                font-size: 1rem;
                font-weight: 500;
                font-family: Rubik, 'Source Sans Pro';
                white-space: nowrap;
                width: 2.1rem;
                position: absolute;
                left: 4.25rem;
                display: flex;
                line-height: 2.4;
                color: #ff5151;
                height: 2.4rem;
              }
              .frame-20-MwT {
                height: 0.7rem;
                position: absolute;
                left: 5.15rem;
                top: 2.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 0.4rem;
              }
            }
            .frame-51-s97 {
              white-space: nowrap;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              justify-content: center;
              background-color: #ffefe7;
              border-radius: 0.4rem;
              width: 10.7rem;
              height: 2.4rem;
              align-items: center;
              color: #2f2f2f;
              display: flex;
              line-height: 2;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
        }
        .total-employees-urV {
          box-sizing: border-box;
          height: 100%;
          overflow: hidden;
          position: relative;
          border: solid 0.1rem #fff7f7;
          border-radius: 1rem;
          padding: 2rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;

          .frame-50-T7K {
            height: 100%;
            flex-shrink: 0;
            margin-right: 3.6rem;
            width: 12.1rem;

            .frame-49-18q {
              margin-bottom: 3.2rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .total-employees-ZRF {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.2rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #161e54;
              }
              .item-216-6vy {
                font-size: 4.2rem;
                font-weight: 500;
                line-height: 0.6666666667;
                color: #161e54;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
              }
            }
            .frame-48-3LR {
              display: flex;
              flex-direction: column;

              .men-Qgm {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #686868;
              }
              .women-xCV {
                font-weight: 400;
                line-height: 1.5;
                color: #686868;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
              }
            }
          }
          .frame-52-guB {
            margin: 0.65rem 0rem 1.15rem 0rem;
            width: 11.5rem;
            height: calc(100% - 1.8rem);
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .group-4-RLy {
              flex-shrink: 0;
              margin-bottom: 2rem;
              width: 100%;
              height: 8.4rem;
              position: relative;

              .vector-2-NGD {
                object-fit: contain;
                vertical-align: top;
                width: 11.45rem;
                height: 4.1847rem;
                position: absolute;
                left: 0;
                top: 1.5152rem;
              }
              .vector-3-umw {
                width: 11.45rem;
                height: 6.9rem;
                position: absolute;
                left: 0.05rem;
                top: 1.5rem;
                object-fit: contain;
                vertical-align: top;
              }
              .item-2-Sms {
                left: 4.25rem;
                top: 0;
                width: 1.9rem;
                position: absolute;
                display: flex;
                font-size: 1rem;
                font-weight: 500;
                line-height: 2.4;
                color: #ff5151;
                font-family: Rubik, 'Source Sans Pro';
                height: 2.4rem;
                white-space: nowrap;
              }
              .frame-20-AC5 {
                top: 2.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 0.4rem;
                height: 0.7rem;
                position: absolute;
                left: 5.15rem;
              }
            }
            .frame-51-hSu {
              font-weight: 400;
              line-height: 2;
              white-space: nowrap;
              flex-shrink: 0;
              width: 10.7rem;
              font-family: Roboto, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              color: #2f2f2f;
              background-color: #ffefe7;
              border-radius: 0.4rem;
              height: 2.4rem;
              font-size: 1.2rem;
              display: flex;
            }
          }
        }
      }
      .announcement-MnM {
        border: solid 0.1rem #e0e0e0;
        background-color: #ffffff;
        margin-bottom: 2.4rem;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 1.2rem;
        width: 100%;
        align-items: center;

        .auto-group-lntm-uJ5 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 2rem 0.8rem 2rem;
          width: 100%;
          align-items: center;

          .frame-74-pfw {
            margin: 0rem 0rem 1.6rem 0.2rem;
            width: calc(100% - 0.2rem);
            height: 2.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .announcement-8Aq {
              flex-shrink: 0;
              margin: 0rem 32.7rem 0.2rem 0rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #161e54;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .frame-64-qqw {
              align-items: center;
              border: solid 0.1rem #efefef;
              flex-shrink: 0;
              height: 100%;
              padding: 0rem 1rem 0rem 0.8rem;
              display: flex;
              background-color: #ffffff;
              border-radius: 0.4rem;
              box-sizing: border-box;

              .today-08-feb-2024-aoX {
                font-weight: 400;
                line-height: 2.3333333333;
                color: #686868;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 1.4rem;
                display: flex;
                font-size: 1.2rem;
                white-space: nowrap;
              }
              .frame-10-JUd {
                margin-top: 0.1rem;
                width: 1rem;
                height: 0.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .frame-60-byX {
            height: 6rem;
            overflow: hidden;
            border-radius: 0.6rem;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            border: solid 0.05rem #e0e0e0;
            margin-bottom: 0.8rem;
            box-sizing: border-box;
            padding: 0.8rem 1.6rem;
            background-color: #f9f9f9;
            flex-shrink: 0;

            .frame-58-ioF {
              margin-right: 20.4rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .outing-schedule-for-every-departement-581 {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.6;
                color: #2f2f2f;
                font-family: Poppins, 'Source Sans Pro';
              }
              .minutes-ago-nYD {
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.4;
                color: #686868;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-57-KHF {
              align-items: center;
              flex-shrink: 0;
              margin: 1rem 0;
              box-sizing: border-box;
              padding: 0.3rem 0.3rem 0.3rem 0.3rem;
              height: calc(100% - 2rem);
              display: flex;

              .bi-pin-angle-fill-3DF {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2.5999rem;
                width: 1.8001rem;
                height: 1.8rem;
                object-fit: contain;
              }
              .carbon-overflow-menu-horizontal-mQ9 {
                flex-shrink: 0;
                margin-top: 0rem;
                width: 1.8rem;
                height: 0.4rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .frame-61-rgV {
            padding: 0.8rem 1.6rem;
            overflow: hidden;
            position: relative;
            align-items: center;
            border: solid 0.05rem #e0e0e0;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            height: 6rem;
            display: flex;
            background-color: #f9f9f9;
            border-radius: 0.6rem;

            .frame-58-bPB {
              margin-right: 32.1rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .outing-schedule-for-every-departement-YpD {
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.6;
                color: #2f2f2f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
              }
              .minutes-ago-5JM {
                line-height: 1.4;
                color: #686868;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 400;
              }
            }
            .frame-57-2Db {
              margin: 1rem 0;
              box-sizing: border-box;
              padding: 0.3rem 0.3rem 0.3rem 0.3rem;
              height: calc(100% - 2rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .bi-pin-angle-fill-xN9 {
                margin-right: 2.5999rem;
                width: 1.8001rem;
                height: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .carbon-overflow-menu-horizontal-VN5 {
                margin-top: 0rem;
                width: 1.8rem;
                height: 0.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .auto-group-e8zr-zJq {
          position: relative;
          flex-shrink: 0;
          width: 100%;
          height: 9.3rem;

          .frame-62-k37 {
            padding: 0.6rem 1.6rem;
            border: solid 0.05rem #e0e0e0;
            box-sizing: border-box;
            width: 60rem;
            height: 8rem;
            position: absolute;
            left: 2rem;
            top: 0;
            overflow: hidden;
            display: flex;
            align-items: center;
            background-color: #f9f9f9;
            border-radius: 0.6rem;

            .frame-58-TTK {
              flex-shrink: 0;
              margin-right: 15.1rem;
              height: 100%;
              display: flex;
              flex-direction: column;

              .outing-schedule-for-every-departement-DBb {
                max-width: 34.9rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.6;
                color: #2f2f2f;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 0.6rem;
              }
              .minutes-ago-83f {
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.4;
                color: #686868;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-57-4i1 {
              padding: 0.3rem 0.3rem 0.3rem 0.3rem;
              height: calc(100% - 4.4rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 2.2rem 0;
              box-sizing: border-box;

              .bi-pin-angle-fill-Bnd {
                height: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2.5999rem;
                width: 1.8001rem;
              }
              .carbon-overflow-menu-horizontal-XLh {
                width: 1.8rem;
                height: 0.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0rem;
              }
            }
          }
          .frame-72-d8q {
            display: flex;
            border: solid 0.1rem #e0e0e0;
            left: 0;
            top: 5.4rem;
            overflow: hidden;
            font-weight: 500;
            line-height: 1.4285714286;
            text-align: center;
            font-size: 1.4rem;
            font-family: Poppins, 'Source Sans Pro';
            background-color: #ffffff;
            height: 3.9rem;
            position: absolute;
            color: #ff5151;
            justify-content: center;
            box-sizing: border-box;
            width: 64rem;
            white-space: nowrap;
            align-items: center;
            border-radius: 0 0 1rem 1rem;
          }
        }
      }
      .auto-group-kaq5-rGV {
        width: 100%;
        height: 31.9rem;
        display: flex;
        align-items: center;

        .recently-activity-Q37 {
          overflow: hidden;
          align-items: center;
          display: flex;
          background-color: #161e54;
          flex-direction: column;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 1.6rem;
          width: 25rem;
          height: 100%;
          position: relative;

          .frame-82-LSZ {
            font-family: Poppins, 'Source Sans Pro';
            border-radius: 1rem 1rem 0 0;
            flex-shrink: 0;
            width: 100%;
            font-weight: 500;
            white-space: nowrap;
            position: relative;
            background-color: #162ad2;
            font-size: 1.6rem;
            padding: 1.6rem 2rem;
            overflow: hidden;
            line-height: 1.5;
            color: #ffffff;
            box-sizing: border-box;
          }
          .auto-group-sgcd-psX {
            box-sizing: border-box;
            padding: 2.1rem 2rem 2.4rem 2rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-81-9uo {
              margin: 0rem 2.2rem 3.1rem 0rem;
              row-gap: 0.7rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .am-fri-08-feb-2024-hAd {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.1725;
                color: #ffffff;
              }
              .you-posted-a-new-job-d4H {
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
              }
              .kindly-check-the-requirements-and-terms-of-work-and-make-sure-everything-is-right-kub {
                flex-shrink: 0;
                max-width: 18.8rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #ffffff;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .frame-100-FrM {
              margin-right: 3.3rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .today-you-makes-17-activity-QUM {
                flex-shrink: 0;
                margin-bottom: 1.9rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #ffffff;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .button-wUH {
                border-radius: 0.4rem;
                overflow: hidden;
                justify-content: center;
                font-size: 1.4rem;
                font-weight: 500;
                position: relative;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                background-color: #f12525;
                height: 3.8rem;
                display: flex;
                align-items: center;
                color: #ffffff;
                width: 14.6rem;
                flex-shrink: 0;
              }
            }
          }
        }
        .upcoming-schedule-boj {
          width: 37.4rem;
          height: 100%;
          position: relative;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          overflow: hidden;
          align-items: center;
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #383838;
          box-sizing: border-box;

          .auto-group-louy-MH7 {
            box-sizing: border-box;
            padding: 1.6rem 1.8rem 0.95rem 1.6rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-103-V8R {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0.1rem 1.85rem 0.2rem;
              width: calc(100% - 0.3rem);
              height: 2.8rem;
              display: flex;

              .upcoming-schedule-cTw {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 2.9rem 0rem 0rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #384bca;
              }
              .frame-65-Xqo {
                padding: 0rem 1rem 0rem 0.8rem;
                height: 100%;
                display: flex;
                border-radius: 0.4rem;
                box-sizing: border-box;
                border: solid 0.1rem #363636;
                background-color: #ffffff;
                flex-shrink: 0;
                align-items: center;

                .today-08-feb-2024-sPs {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  color: #686868;
                  font-weight: 400;
                  line-height: 2.3333333333;
                  flex-shrink: 0;
                  margin-right: 1.4rem;
                  font-size: 1.2rem;
                }
                .frame-10-PND {
                  width: 1rem;
                  height: 0.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                }
              }
            }
            .group-9-u5f {
              display: flex;
              flex-direction: column;
              border-radius: 0.6rem;
              flex-shrink: 0;
              width: 100%;

              .priority-3xZ {
                margin-bottom: 0.15rem;
                font-size: 1.2rem;
                line-height: 2.3333333333;
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-weight: 400;
                color: #686868;
                font-family: Poppins, 'Source Sans Pro';
              }
              .frame-68-PFj {
                overflow: hidden;
                position: relative;
                display: flex;
                border: solid 0.05rem #383838;
                border-radius: 0.6rem;
                flex-shrink: 0;
                padding: 1rem 1.6rem;
                width: 100%;
                align-items: center;
                background-color: #ffffff;
                box-sizing: border-box;
                height: 6.4rem;

                .frame-66-j4h {
                  margin-right: 2.4rem;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .this-is-title-gVj {
                    color: #3c3c3c;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.6rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.7142857143;
                  }
                  .today-1130-am-RCR {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.4;
                    color: #686868;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .frame-57-xTF {
                  height: calc(100% - 2rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin: 1rem 0;
                  box-sizing: border-box;
                  padding: 0.3rem 0.3rem 0.3rem 0.5rem;

                  .ic-notifications-f6m {
                    margin-right: 2.8rem;
                    width: 1.4rem;
                    height: 1.8rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .ic-horizontal-menu-PYZ {
                    flex-shrink: 0;
                    width: 1.8rem;
                    height: 0.4rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
          .auto-group-ae2z-sTj {
            width: 100%;
            height: 16.55rem;
            position: relative;
            flex-shrink: 0;

            .group-10-DnV {
              border-radius: 0.6rem;
              width: 34rem;
              height: 16.55rem;
              position: absolute;
              left: 1.6rem;
              top: 0;

              .other-wyP {
                line-height: 2.3333333333;
                color: #686868;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.15rem;
                display: flex;
                font-size: 1.2rem;
                font-weight: 400;
              }
              .frame-69-gg5 {
                padding: 1rem 1.6rem;
                width: 100%;
                height: 6.4rem;
                position: relative;
                display: flex;
                align-items: center;
                margin-bottom: 0.8rem;
                box-sizing: border-box;
                overflow: hidden;
                border: solid 0.05rem #383838;
                background-color: #ffffff;
                border-radius: 0.6rem;

                .frame-66-1CZ {
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-right: 6rem;
                  height: 100%;
                  display: flex;

                  .this-is-title-x7o {
                    margin-bottom: 0.6rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.7142857143;
                    color: #3c3c3c;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .today-1130-am-HQy {
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.4;
                    color: #686868;
                  }
                }
                .frame-57-27f {
                  align-items: center;
                  flex-shrink: 0;
                  margin: 1rem 0;
                  box-sizing: border-box;
                  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
                  height: calc(100% - 2rem);
                  display: flex;

                  .ic-notifications-8wP {
                    margin-right: 2.8rem;
                    width: 1.4rem;
                    height: 1.8rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .ic-horizontal-menu-H3b {
                    width: 1.8rem;
                    height: 0.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
              }
              .frame-70-PcR {
                border-radius: 0.6rem;
                height: 6.4rem;
                overflow: hidden;
                position: relative;
                background-color: #ffffff;
                align-items: center;
                border: solid 0.05rem #383838;
                box-sizing: border-box;
                padding: 1rem 1.6rem;
                width: 100%;
                display: flex;

                .frame-66-LXf {
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-right: 6rem;
                  height: 100%;
                  display: flex;

                  .this-is-title-6mj {
                    flex-shrink: 0;
                    margin-bottom: 0.6rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.7142857143;
                    color: #3c3c3c;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .today-1130-am-qDX {
                    line-height: 1.4;
                    color: #686868;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 400;
                  }
                }
                .frame-57-Mhf {
                  margin: 1rem 0;
                  box-sizing: border-box;
                  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
                  height: calc(100% - 2rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .ic-notifications-HrD {
                    margin-right: 2.8rem;
                    width: 1.4rem;
                    height: 1.8rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .ic-horizontal-menu-q73 {
                    width: 1.8rem;
                    height: 0.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
              }
            }
            .frame-73-869 {
              border: solid 0.1rem #383838;
              border-radius: 0 0 1rem 1rem;
              position: absolute;
              top: 11.45rem;
              text-align: center;
              font-family: Poppins, 'Source Sans Pro';
              background-color: #ffffff;
              left: 0;
              line-height: 1.4285714286;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              height: 3.9rem;
              font-size: 1.4rem;
              color: #ff6a6a;
              display: flex;
              width: 37.4rem;
              overflow: hidden;
              font-weight: 500;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
  .navbar-LCD {
    align-items: center;
    background-color: #231d1d;
    box-sizing: border-box;
    padding-top: 1.2rem;
    width: 74.4rem;
    position: absolute;
    left: 9rem;
    overflow: hidden;
    height: 6.2rem;
    top: 0;
    display: flex;
    flex-direction: column;

    .frame-98-F4H {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.1rem 1.25rem 1.3rem;
      width: calc(100% - 2.4rem);
      display: flex;

      .frame-104-LrR {
        height: 3.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.05rem 18.3rem 0rem 0rem;
        box-sizing: border-box;
        padding-left: 0.3rem;

        .ic-burgermenu-SPf {
          margin-right: 2rem;
          width: 1.8rem;
          height: 1.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .frame-76-aEy {
          background-color: #1f1d1d;
          box-sizing: border-box;
          overflow: hidden;
          display: flex;
          align-items: center;
          border: solid 0.1rem #ffffff;
          border-radius: 0.4rem;
          flex-shrink: 0;
          padding: 0.6rem 1.769rem 0.6rem 1.6rem;
          height: 100%;
          position: relative;

          .search-uo3 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 14.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.7142857143;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .frame-9-TJm {
            margin-top: 0.0731rem;
            width: 2.0307rem;
            height: 2.0411rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .frame-13-Yr1 {
        margin-bottom: 0.05rem;
        height: 3.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-h5uy-tus {
          padding: 0.6rem 3.2rem 0.6rem 0rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .ic-round-notifications-dcZ {
            width: 2.4rem;
            height: 100%;
            position: relative;
            overflow: hidden;
            flex-shrink: 0;
            margin-right: 3.2rem;

            .vector-kx5 {
              width: 1.8rem;
              height: 2rem;
              position: absolute;
              left: 0.3rem;
              top: 0.2rem;
              object-fit: contain;
              vertical-align: top;
            }
            .ellipse-4-Hh7 {
              top: 0.2rem;
              box-sizing: border-box;
              border-radius: 0.5rem;
              width: 1rem;
              height: 1rem;
              position: absolute;
              left: 1.2rem;
              border: solid 0.1rem #fbfbfb;
              background-color: #fa3232;
            }
            .item-5-PVF {
              color: #fbfbfb;
              font-family: Poppins, 'Source Sans Pro';
              top: -0.5rem;
              font-size: 0.8rem;
              font-weight: 400;
              left: 1.45rem;
              line-height: 3;
              white-space: nowrap;
              width: 0.6rem;
              height: 2.4rem;
              position: absolute;
            }
          }
          .bi-chat-left-dots-fill-V2V {
            flex-shrink: 0;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .frame-12-cso {
          margin-right: 3rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .mask-group-aJq {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 3.6rem;
            height: 3.6rem;
            position: relative;
          }
          .frame-11-v7o {
            margin: 0.6rem 0;
            box-sizing: border-box;
            padding: 1rem 0.6rem 0.9rem 0.6rem;
            height: calc(100% - 1.2rem);
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .frame-10-Srq {
              width: 1.2rem;
              height: 0.5rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .d-switch-nvh {
          height: 2.5rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 4.5rem;
        }
      }
    }
    .rectangle-26-XNV {
      height: 0.1rem;
      background-color: #343434;
      flex-shrink: 0;
      width: 100%;
    }
  }
  .sidebar-GL5 {
    top: 0;
    background-color: #0c0c0c;
    box-sizing: border-box;
    left: 0;
    height: 119.4rem;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4.36rem 0.15rem 62rem 0.15rem;
    width: 9.3rem;

    .frame-88-yVP {
      margin: 0rem 0rem 2.36rem 0rem;
      width: 3.6816rem;
      height: 3.6809rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .frame-94-JXf {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-93-fND {
        padding: 1rem 1.7rem 0rem 1.7rem;
        width: 100%;
        position: relative;
        margin-bottom: 3rem;
        box-sizing: border-box;
        overflow: hidden;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-85-NnR {
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          flex-shrink: 0;
          position: relative;
          text-align: center;
          align-items: center;
          margin-bottom: 2rem;
          height: 1.8rem;
          line-height: 1.8;
          color: #ffffff;
          width: 100%;
          font-size: 1rem;
          font-weight: 500;
          white-space: nowrap;
          display: flex;
          overflow: hidden;
        }
        .frame-90-g2R {
          overflow: hidden;
          position: relative;
          display: flex;
          flex-shrink: 0;
          margin: 0 1.6rem;
          box-sizing: border-box;
          padding: 0.3rem;
          width: calc(100% - 3.2rem);
          align-items: center;
          flex-direction: column;

          .ic-dashboard-bQH {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 4.3rem;
            width: 1.8rem;
            height: 1.8rem;
          }
          .ic-recruitment-vhT {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 4.3rem;
            width: 1.8rem;
            height: 1.6rem;
            object-fit: contain;
          }
          .ic-calendar-4Hs {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 4.2rem;
            width: 1.6rem;
            height: 1.8rem;
            object-fit: contain;
          }
          .ic-employee-oFT {
            margin-bottom: 4.1rem;
            width: 1.8rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ic-department-8oX {
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .frame-92-g4M {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        flex-direction: column;
        box-sizing: border-box;
        padding: 1rem 2.9rem 0rem 2.9rem;
        width: 100%;
        align-items: center;
        display: flex;

        .frame-84-1cR {
          overflow: hidden;
          text-align: center;
          font-size: 1rem;
          line-height: 1.8;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          flex-shrink: 0;
          height: 1.8rem;
          position: relative;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          margin-bottom: 2rem;
          font-weight: 500;
          display: flex;
          width: 100%;
        }
        .frame-91-79f {
          box-sizing: border-box;
          padding: 0.3rem 0.3rem 0.4rem 0.3rem;
          position: relative;
          flex-direction: column;
          margin: 0 0.4rem;
          overflow: hidden;
          align-items: center;
          display: flex;
          flex-shrink: 0;
          width: calc(100% - 0.8rem);

          .ic-support-d81 {
            margin-bottom: 4.1rem;
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ic-settings-MJu {
            margin-right: 0.0536rem;
            width: 1.7464rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
